---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?Authorization=mxSVGSwk9rPcjWNZeZtudnInZ-b70DqSyxm9ioqte6oJDG3jOLYmquWyKG-Ag8kTXSovNQQJCGTSfb47-dFB5UpUp6yiUP-vTSnxJZ-jw3zCN5ytzIa5F0-JkYg9YHYx&limit=1&location&open_now=true&term=Mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-4cf5k; site=public_api_v3
      X-Zipkin-Id:
      - fc3cbfbfe7a2c39c
      X-Proxied:
      - 10-69-166-32-uswest2bprod
      X-Extlb:
      - 10-69-166-32-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Authorization
        is a required parameter.", "field": "Authorization", "instance": null}}'
  recorded_at: Mon, 08 Mar 2021 15:37:20 GMT
recorded_with: VCR 6.0.0
