---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location&open_now=true&term=Mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - mxSVGSwk9rPcjWNZeZtudnInZ-b70DqSyxm9ioqte6oJDG3jOLYmquWyKG-Ag8kTXSovNQQJCGTSfb47-dFB5UpUp6yiUP-vTSnxJZ-jw3zCN5ytzIa5F0-JkYg9YHYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-clqgk; site=public_api_v3
      X-Zipkin-Id:
      - '08df635bbf341815'
      X-Proxied:
      - 10-69-124-134-uswest2aprod
      X-Extlb:
      - 10-69-124-134-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "''mxSVGSwk9rPcjWNZeZtudnInZ-b70DqSyxm9ioqte6oJDG3jOLYmquWyKG-Ag8kTXSovNQQJCGTSfb47-dFB5UpUp6yiUP-vTSnxJZ-jw3zCN5ytzIa5F0-JkYg9YHYx''
        does not match ''^(?i)Bearer [A-Za-z0-9\\\\-\\\\_]{128}$''", "field": "Authorization",
        "instance": "mxSVGSwk9rPcjWNZeZtudnInZ-b70DqSyxm9ioqte6oJDG3jOLYmquWyKG-Ag8kTXSovNQQJCGTSfb47-dFB5UpUp6yiUP-vTSnxJZ-jw3zCN5ytzIa5F0-JkYg9YHYx"}}'
  recorded_at: Mon, 08 Mar 2021 15:39:42 GMT
recorded_with: VCR 6.0.0
