---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=N5w4TuBHSvvRAr3HVrvlt2kKpyfIwXTM&location=New%20York,%20NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 04 Mar 2021 03:28:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"New
        York, NY"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        York","adminArea5Type":"City","adminArea4":"New York County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040974","unknownInput":"","type":"s","latLng":{"lat":40.713054,"lng":-74.007228},"displayLatLng":{"lat":40.713054,"lng":-74.007228},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=N5w4TuBHSvvRAr3HVrvlt2kKpyfIwXTM&type=map&size=225,160&locations=40.713054,-74.007228|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1902105329"}]}]}'
  recorded_at: Thu, 04 Mar 2021 03:28:42 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=9e07f696df861783af353e4ca56103ca&exclude=minutely&lat=40.713054&lon=-74.007228
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7131,"lon":-74.0072,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1614828523,"sunrise":1614770803,"sunset":1614811765,"temp":280.09,"feels_like":276.4,"pressure":1011,"humidity":46,"dew_point":269.72,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":1.72,"wind_deg":309,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1614826800,"temp":280.09,"feels_like":276.4,"pressure":1011,"humidity":46,"dew_point":269.72,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":1.72,"wind_deg":309,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1614830400,"temp":278.91,"feels_like":275.23,"pressure":1011,"humidity":62,"dew_point":272.31,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.23,"wind_deg":298,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1614834000,"temp":277.76,"feels_like":273.69,"pressure":1010,"humidity":72,"dew_point":273.15,"uvi":0,"clouds":84,"visibility":10000,"wind_speed":2.98,"wind_deg":298,"weather":[{"id":803,"main":"Clouds","description":"[...]
