---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=hamburger&limit=1&location=pueble,co&open_at=1615231805
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer mxSVGSwk9rPcjWNZeZtudnInZ-b70DqSyxm9ioqte6oJDG3jOLYmquWyKG-Ag8kTXSovNQQJCGTSfb47-dFB5UpUp6yiUP-vTSnxJZ-jw3zCN5ytzIa5F0-JkYg9YHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 5ec8af4c814ccf2b
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-03-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-74phd; site=public_api_v3
      X-Proxied:
      - 10-69-90-30-uswest2aprod
      X-Extlb:
      - 10-69-90-30-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "8wGSggWsopmqoCyd9bY-dw", "alias": "bingo-burger-pueblo-4",
        "name": "Bingo Burger", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/KyMKYZ2W8nyjocqzkrrEog/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/bingo-burger-pueblo-4?adjust_creative=9U3EVc18DSzKxi0a8SZPOg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9U3EVc18DSzKxi0a8SZPOg",
        "review_count": 406, "categories": [{"alias": "burgers", "title": "Burgers"}],
        "rating": 4.0, "coordinates": {"latitude": 38.268043, "longitude": -104.609794},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "101 Central Plz", "address2": "", "address3": "", "city": "Pueblo", "zip_code":
        "81003", "country": "US", "state": "CO", "display_address": ["101 Central
        Plz", "Pueblo, CO 81003"]}, "phone": "+17192258363", "display_phone": "(719)
        225-8363", "distance": 1989.6469113420449}], "total": 218, "region": {"center":
        {"longitude": -104.62348937988281, "latitude": 38.28234605423732}}}'
  recorded_at: Mon, 08 Mar 2021 18:00:23 GMT
recorded_with: VCR 6.0.0
