---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=N5w4TuBHSvvRAr3HVrvlt2kKpyfIwXTM&location=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 04 Mar 2021 03:20:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Los
        Angeles, CA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Los
        Angeles","adminArea5Type":"City","adminArea4":"Los Angeles County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039899","unknownInput":"","type":"s","latLng":{"lat":34.052238,"lng":-118.243344},"displayLatLng":{"lat":34.052238,"lng":-118.243344},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=N5w4TuBHSvvRAr3HVrvlt2kKpyfIwXTM&type=map&size=225,160&locations=34.052238,-118.243344|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1627109890"}]}]}'
  recorded_at: Thu, 04 Mar 2021 03:20:50 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=9e07f696df861783af353e4ca56103ca&exclude=minutely&lat=34.052238&lon=-118.243344
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0522,"lon":-118.2433,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1614828051,"sunrise":1614781135,"sunset":1614822663,"temp":284.1,"feels_like":280.97,"pressure":1014,"humidity":62,"dew_point":277.11,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.57,"wind_deg":80,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1614826800,"temp":284.1,"feels_like":281.15,"pressure":1014,"humidity":62,"dew_point":277.11,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.32,"wind_deg":169,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.08},{"dt":1614830400,"temp":284.87,"feels_like":282.87,"pressure":1014,"humidity":63,"dew_point":278.07,"uvi":0,"clouds":51,"visibility":10000,"wind_speed":1.23,"wind_deg":142,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1614834000,"temp":285.31,"feels_like":283.89,"pressure":1015,"humidity":63,"dew_point":278.48,"uvi":0,"clouds":26,"visibility":10000,"wind_speed":0.51,"wind_deg":174,"weather":[{"id":802,"main":"Clouds","description":[...]
