---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=N5w4TuBHSvvRAr3HVrvlt2kKpyfIwXTM&location=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 05 Mar 2021 18:02:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Los
        Angeles, CA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Los
        Angeles","adminArea5Type":"City","adminArea4":"Los Angeles County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039899","unknownInput":"","type":"s","latLng":{"lat":34.052238,"lng":-118.243344},"displayLatLng":{"lat":34.052238,"lng":-118.243344},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=N5w4TuBHSvvRAr3HVrvlt2kKpyfIwXTM&type=map&size=225,160&locations=34.052238,-118.243344|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1892509410"}]}]}'
  recorded_at: Fri, 05 Mar 2021 18:02:18 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=9e07f696df861783af353e4ca56103ca&exclude=minutely&lat=34.052238&lon=-118.243344&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":34.0522,"lon":-118.2433,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1614967339,"sunrise":1614953781,"sunset":1614995562,"temp":68.56,"feels_like":65.01,"pressure":1021,"humidity":30,"dew_point":35.92,"uvi":4.38,"clouds":1,"visibility":10000,"wind_speed":1.03,"wind_deg":141,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1614967200,"temp":68.56,"feels_like":65.01,"pressure":1021,"humidity":30,"dew_point":35.92,"uvi":4.38,"clouds":1,"visibility":10000,"wind_speed":1.03,"wind_deg":141,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1614970800,"temp":69.85,"feels_like":65.61,"pressure":1021,"humidity":26,"dew_point":33.46,"uvi":5.75,"clouds":1,"visibility":10000,"wind_speed":1.59,"wind_deg":188,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1614974400,"temp":72.36,"feels_like":66.33,"pressure":1020,"humidity":22,"dew_point":31.5,"uvi":6.2,"clouds":0,"visibility":10000,"wind_speed":4.18,"wind_deg":236,"weather":[{"id":800,"main":"Clear","description":"clear
      [...]
